<div ng-controller="LoginCtrl as login">
  <div class="jumbotron">
      <h2>Order Delicious Food Online!</h2>
      <h4>Discover local restaurants that deliver to your doorstep</h4>
  </div> 
  <div style="align:center;">
      <a class="btn" ng-click="login.loginUser()"> 
      <img style="width:60%"; src="../images/login-google.png"></a>
   </div>
   <div class="order-steps">
      <div class="step">
          <h3>Select</h3>
          <div class="description">Find restaurants that deliver to you on the provided list.</div>
      </div>
      <div class="step">
          <h3>Choose</h3>
          <div class="description">Browse hundreds of menus to find the food you like in the restaurant selected.</div>
      </div>
      <div class="step">
          <h3>Order</h3>
          <div class="description">Place your order and wait for the food to be delivered.</div>
      </div>
      <div class="step">
          <h3>Pay</h3>
          <div class="descript3ion">Food is prepared &amp; delivered to your door and you pay upon delivery.</div>
      </div>
    </div>